* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #d6d6d6;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.test-class {
    background-color: red;
    width: 100px;
    height: 100px;
}



 main {
    flex: 1 1 auto;
 }
 
 footer {
    margin-top: 10px;
     align-self: flex-end;
     width: 100%;
 }

.autorization-container {
    border: 1px solid black;
    padding-right: 7px;
    border-radius: 40px;
    transition: all 0.3s linear;
    max-width: 100px;
    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
}


.basket-container {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding-right: 7px;
    border-radius: 40px;
    max-width: 120px;
    transition: all 0.3s linear;
    &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
    }
}

.no-underline:hover {
    text-decoration: none;
}

.navbar-sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo-img {
    opacity: 0.9;
    transition: all 0.3s linear;
    &:hover {
        cursor: pointer;
        opacity: 1;
        width: 75px;
        height: 75px;
    }
}

a{
    opacity: 0.7;
    &:hover {
        opacity: 1;
        position: relative;
        top: -2px;
    }
}

p.h2 {
    &:hover {
        cursor: default;
    }
}

.fixed-alert {
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    z-index: 101;
}

.img-scale-wrapper {
    overflow: hidden;
    .img-scale {
        transition: all 0.2s ease;
        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

