* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #d6d6d6;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.test-class {
    background-color: red;
    width: 100px;
    height: 100px;
}



 main {
    flex: 1 1 auto;
 }
 
 footer {
    margin-top: 10px;
     align-self: flex-end;
     width: 100%;
 }

 .autorization-container:hover {
    cursor: pointer;
 }

.basket-container {
    background-color: black;
    color: white;
    padding-right: 7px;
    border-radius: 50px;
    &:hover {
        cursor: pointer;
    }
}

.no-underline:hover {
    text-decoration: none;
}