
.icon-basket:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-basket-alt:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
